.App {
  padding-top: 80px;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.white-text {
  color: white !important;
}

/* HOMEPAGE */

.bg-homepage {
  background: linear-gradient(to right, var(--tertiary-color), var(--secondary-color), var(--primary-color));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--container-homepage);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 700px;
  width: 90%;
}

.card-title {
  font-family: 'Bold Italic 1', cursive;
  font-size: 2.5rem;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 20px;
}
.card-title-large {
  display: none;
}

.card-title-small {
  display: block;
}

.card-text {
  font-family: 'Arial', sans-serif;
  font-size: 1.2rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: var(--primary-color);
  border: none;
  font-size: 1.2rem;
  display: block;
  width: 60%;
}

.btn-primary:hover {
  background-color: var(--primary-color-hover);
}


@media (min-width: 600px) {
  .card-title-large {
    display: block;
  }

  .card-title-small {
    display: none;
  }
}

/* TOPS */


.top-info {
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.top-content {
  background-color: var(--container-homepage);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  text-decoration: none;
  color: inherit;
}

.top-position {
  font-weight: bold;
  margin-right: 0;
  font-size: larger;
}

.top-image {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.top-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.placeholder {
  width: 100%;
  height: 100%;
  background-color: grey;
}

.top-artist-name {
  font-size: smaller;
  font-weight: normal;
}


@media (max-width: 767px) {
  .top-content {
    flex-direction: column;
    align-items: center;
  }

}