.App {
  padding-top: 65px;
}

.user-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.user-page-without-header {
  display: flex;
  flex-grow: 1;
}

.user-content {
  padding-top: 50px;
  flex-grow: 1;
  overflow: auto;
}