:root {
    --primary-color: #e83283;
    --secondary-color: #686dc3;
    --tertiary-color: #3a8fd9;
    --fourth-color: #EBC3DB;
    
    --primary-color-hover: #c71967;
    --container-homepage: #ffffffaa;
}