.custom-navbar {
    background-color: var(--primary-color);
    z-index: 900;
}
.navbar-brand {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}
.navbar-brand-users {
    margin-left: auto;
    margin-right: auto;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    color: white !important;
}

.custom-navbar .btn-outline-light {
    border-color: white;
    color: white;
}

.custom-navbar .btn-outline-light:hover {
    color: var(--primary-color);
}

.custom-navbar .active-link {
    background-color: white;
    color: var(--primary-color) !important;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 5px 20px !important;
    position: relative;
    bottom: -10px;
}

.dropdown {
    position: fixed;
    top: 10px; 
    right: 20px; 
    z-index: 1100;
}

.custom-dropdown:focus {
    color: white;
    background-color: var(--primary-color);
}

.custom-dropdown:focus:hover {
    color: white;
}

.dropdown-button {
    width: 90%;
}

@media (max-width: 991px) {
    .custom-navbar {
        text-align: center;
    }
    .custom-navbar .active-link {
        border-radius: 0; 
        bottom: 0;
    }
    .navbar-brand-users {
        margin-left: 100px;
    }
}