h1 {
    text-align: center;
    margin-top: 20px;
}

.btn-primary {
    background-color: #e600e6;
    border-color: #e600e6;
    display: block;
    margin-top: 20px !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px !important;
}