h1 {
    text-align: center;
    margin-top: 20px;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    display: block;
    margin-top: 20px !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px !important;
}

.btn-primary:hover {
    background-color: var(--primary-color-hover);
}
.form-control {
    color: black;
}