.custom-menu {
    align-items: flex-start;
    background-color: transparent !important;
    z-index: 900; 
    height: 100vh;
}

.custom-menu-nav {
    padding-top: 60px;
    width: 250px;
    height: 100vh;
    background-color: var(--primary-color);
}

.custom-menu-nav .dropdown {
    position: relative !important; /* Ensure relative positioning */
}

.custom-menu-nav .nav-link,
.custom-menu-nav .dropdown-item {
    font-size: large;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px !important;
    color: white !important;
    background-color: var(--primary-color) !important;
}

.custom-menu .nav-link:hover,
.custom-menu-nav .nav-link:hover,
.custom-menu-nav .dropdown-item:hover {
    color: var(--primary-color) !important;
    background-color: white !important;
}


.menu-dropdown-title:hover {
    color: var(--primary-color) !important;
    background-color: white !important;
}

.menu-dropdown .dropdown-menu {
    background-color: var(--primary-color) !important;
    border: none !important;
    position: absolute !important;
    left: 0;
    right: 0;
}

.menu-dropdown.show .dropdown-menu {
    display: block;
}

.menu-dropdown .dropdown-menu .dropdown-item {
    padding-left: 50px !important;
}


@media (max-width: 991px) {
    .custom-menu {
        position: fixed;
    }
    .custom-menu-nav {
        padding-top: 0;
        margin-top: 8px;
        width: 190px;
        background-color: var(--primary-color);
    }
}
