body {
    background: linear-gradient(to right, var(--tertiary-color), var(--secondary-color), var(--primary-color));
    min-height: 100vh;
    height: 100%;
}

h1 {
    color: white;
    margin-top: 30px;
}


/* USER PAGES */

.user-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.user-page-without-header {
    display: flex;
    flex-grow: 1;
}

.user-content {
    padding-top: 50px;
    flex-grow: 1;
}


/* DASHBOARD */


.statistics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}
  
.statistic-card {
    background-color: var(--container-homepage);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-top: 20px;
    width: 30%;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.statistic-card-4 {
    background-color: var(--container-homepage);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 35%;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.statistic-card-4 h2,
.statistic-card h2 {
    font-size: 1.5rem;
    color: var(--primary-color);
    text-align: center;
}


/* INFO CARDS: USER SONGS, ARTISTS, ALBUMS */

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}
  
.info-card,
.info-card-album {
    background-color: var(--container-homepage);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    position: relative;
    text-decoration: none;
    color: inherit;
}

.card-content {
    display: flex;
    align-items: center;
}

.song-image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.song-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.placeholder {
    width: 100%;
    height: 100%;
    background-color: grey;
}

.song-info {
    font-weight: bold;
}

.artist-name {
    font-size: smaller;
    font-weight: normal;
}

.album-name {
    font-size: x-small;
    font-weight: normal;
}

.heart-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    z-index: 800;
}

.song-position {
    margin-right: 0;
    font-size: larger;
}

@media (max-width: 767px) {
    .info-card {
        width: fit-content;
    }
    .card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-center-md-down {
        text-align: center;
    }

    .heart-icon {
        top: 5px;
        right: 5px;
    }
}

/* SONG DETAILS */

.details-card {
    background-color: var(--container-homepage);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.details-card-content {
    display: flex;
    align-items: center;
}

.details-song-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

.song-details h2 {
    padding-bottom: 40px;
}

.song-details h6 {
    font-weight: normal;
}

.song-details div {
    margin: 0;
    font-size: 16px;
    line-height: 2rem;
}

.line-with-brackets {
    padding-top: 30px !important;
    font-weight: bold;
}

.song-img-details {
    width: 200px;
    height: 200px;
    object-fit: cover;
}


/* SEARCH BAR */

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.search-input {
    width: 70%; 
    padding: 10px;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
}

.search-input::placeholder {
    color: white !important;
}


/* DROPDOWN WEBSITES */

.website-dropdown {
    color: white;
    background-color: transparent;
    border-color: white;
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
}

.website-dropdown:hover {
    color: white;
    background-color: var(--container-homepage);
    border-color: white;
}

.website-dropdown:focus {
    color: white;
    background-color: transparent;
    border-color: white;
}

.website-dropdown:focus:hover {
    color: white;
}