<p>Number of playlists: {{ playlists|length }}</p>
<p>Number of songs: {{ songs|length }}</p>
<p>Number of artists: {{ artists|length }}</p>
<p>Number of albums: {{ albums|length }}</p>
<p>Number of genres: {{ genres|length }}</p>
<p>Number of websites: {{ websites|length }}</p>


<h1>Playlists</h1>
{% for playlist in playlists %}
    <p>{{ playlist.name }} - {{ playlist.website }}</p>
{% endfor %}

<h1>Artists</h1>
{% for artist in artists %}
    <p>{{ artist.name }}</p>
{% endfor %}

<h1>Songs</h1>
{% for song in songs %}
    <p>{{ song.name }}</p>
{% endfor %}

<h1>Albums</h1>
{% for album in albums %}
    <p>{{ album.name }}</p>
{% endfor %}

