<p>Number of playlists: {{ playlists|length }}</p>
<p>Number of songs: {{ songs|length }}</p>
<p>Number of artists: {{ artists|length }}</p>
<p>Number of albums: {{ albums|length }}</p>
<p>Number of genres: {{ genres|length }}</p>
<p>Number of websites: {{ websites|length }}</p>

{% for genre, genre_songs in songs.items %}
    <h2>{{ genre }}</h2>
    {% for album_songs in genre_songs %}
        {% for song in album_songs %}
            <p>{{ song.name }}</p>
        {% endfor %}
    {% endfor %}
{% endfor %}


